@media all
{
                                    /*GENERAL*/
    body{
        color:black;

        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: column;
        margin:auto;
    }
    h3
    {
        margin-bottom: 0px;
    }
    article
    {
        box-shadow:1px 1px #F2F2F2, -1px -1px #F2F2F2;
    }
    a{
        text-decoration: none;
        color: black;
    }
    a:visited{
        text-decoration: none;
        color:black;
    }
    ul
    {
        margin:0;
        margin-top: 5%;
        padding: 0;
    }
    li{
        list-style: none;
        margin:0px 0px 10px 0px
    }
                                    /*HEADER*/
    header{
        display:flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 5%;
        margin-right:5%;
    }
    .logo
    {
        display: flex;
    }   
    .logo a{
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        width: 65%;
    }
    .logo a img
    {
        width: 100%;
    }
    
    .navigation a
    {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 25px;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .navigation a:focus{
        border-top: 2px solid #0065FC;
        color: #0065FC;
    }
                                    /*SEARCH*/

    .Search
    {
        display: flex;
        flex-direction: column;
        margin-left:5%;
        margin-right: 5%;
        margin-bottom: 1%;
    }
    .Research
    {
        display:flex;
        flex-wrap: nowrap;
        margin-bottom: 2%;
        height: 35px;
    }
    .map_marker
    {
        border: 1px solid black;
        width: 35px;
        background-color: #F2F2F2;
        border: 1px solid #F2F2F2;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }.map_marker svg
    {
        margin-left:5%;
        margin-right: 5%;
    }
    .Search div input
    {
        border:none;
        border: 1px solid #F2F2F2;
    }
    .inputText
    {
        border: 1px solid #F2F2F2;
    }
    .button
    {
        color:white;
        background-color: #0065FC;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .loupe
    {
        display: none;
    }
    .Filtre
    {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .listFiltre
    {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-left:1%;
        margin-right: 2%;
        width: 800px;
    }
    .Filter
    {
        border: 3px solid #F2F2F2;
        border-left: 0px;
        border-radius: 25px ;
        margin-left: 1%;
        margin-right: 1%;
        width: 50%;
    }
    .Filter a 
    {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        
    }
    .Filter a p
    {
        margin: auto;   
    }
    .iconeFilter
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        background-color: #DEEBFF;
        border-radius: 25px;
    }
    .iconeFilter svg
    {
        color : #0065FC;
        border-radius: 100%;
        background-size: contain;
        width: 150px;
        
    }
    .info
    {
        display: flex;
        align-items: center;
    }
    .info div
    {
        border : 1px solid #F2F2F2;
        border-radius: 20px;
        width:30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items:center;
        margin-right: 1%;
    }
    .info div svg
    {
        color: #0065FC;
    
    }
                                    /*HEBERGEMENTS*/
    .Hebergements{
        /*La somme des id Masseille et Populaire*/
        display: flex;
        justify-content:space-evenly;
        margin-left:5%;
        margin-right: 5%;
       margin-bottom: 2%;
    }
    .Marseille {
        background-color: #F2F2F2;
        border-radius: 20px;
        width: 50%;
        display: flex; 
        flex-direction: column;
        flex: 2;
    }
    .marseilleTitre
    {
        margin-left: 3%;
    }
    .ensemble{
        
        border-radius: 20px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .seeMore
    {
        margin-left: 3%;
        margin-bottom: 2%;
        margin-top: 2%;
    } 
   .hebergements
    {
        background-color: white;
        border-radius: 20px;
        display: flex;
        margin-top: 1%;
        margin-left: 0%;
        margin-bottom: 1%;
        flex-direction: column;
        padding: 5px;
        width: 330px;
        height: 330px;
    }
    .imgs
    {
        width: 100%;
        height: 70%;
    }
    .imgs img {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .Populaire{
        background-color: #F2F2F2;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1;
        margin-left: 2%;
    }
    .titre{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
    }
    .titre svg
    {
        min-height: 30px;
        min-width: 30px;
    }
    .populous{
        align-self: center;
        display: flex;
        align-items: center;
        border-radius: 20px;
        padding: 5px;
        background-color: white;
        margin-bottom: 5%;
        justify-self: flex-end;
        height: 200px;
        width: 500px;
    }
    .imgPop

    {
        height: 100%;
        width: 35%;
    }
    .populous  img{
        border-top-left-radius:20px;
        border-bottom-left-radius: 20px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
   .contenue
   {
       display: flex;
       flex-wrap: nowrap;
       flex-direction: column;
       justify-content: space-around;
       margin-left: 4%;
       /*height: 115px;*/
   }
   .contenue p
   {
       margin:0px;
       margin-bottom: 5%;
   }
   .pop
   {
       flex-direction:column;
       justify-content: flex-start;
   }
   .pop p
   {
      margin-bottom: 20%; 
   }
    .rating{
        display: flex;
        flex-wrap: wrap;
        color: #F2F2F2;
        margin-bottom: 1%;
    }
    .note
    {
        color: #0065FC;
    }
                                    /*ACTIVITE*/
    .Activites{
        display: flex;
        flex-direction: column;
        margin-left:5%;
        margin-right: 5%;
        margin-bottom: 5%;
    }
    .activity{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 500px;
    }
    .activity section
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }    
    .col
    {
        width: 370px;
    }

    .col-mini
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    .mini
    {
        width: 400px;
    }
    .big
    {
        height: 250px;
    }
    
    .small
    {
        height: 220px;
    }
    .activity article
    {
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        overflow:hidden; 
    }
    .imgsActivity
    {
        display: flex;
        flex-direction: column;
        height: 95%;
        overflow:hidden;
    }
    .imgsActivity img{
        border-top-left-radius : 20px;
        border-top-right-radius: 20px;
        object-fit:cover;
        width: 100%;
        height: 100%
    }
    .contenueActivity
    {
        margin-left:  5%;
    }
    .contenueActivity h3
    {
        margin-bottom: 5%;
    }

    .scale1_4
    {
        transform: scale(1.4);
    }
    .position10
    {
        object-position: center 10%;
    }
    .position25
    {
        object-position: center 25%;
    }
    .position47
    {
        object-position: center 47%;
    }
    .position24
    {
        object-position: center 24%;
    }

                                    /*FOOTER*/
    footer{
        display: flex;
        align-items: center;
        background-color: #F2F2F2;
        height: 15%;
    }
    footer div {
        display: flex;
        margin-top: 1%;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 1%;
        width: 100%;
    }
    footer div section
    {
        align-self: flex-start;
        margin-right: 25%;
        min-width: 200px;
    }
}

@media  (max-device-width: 992px)
{
                                    /*GENERAL*/
    
                                    /*HEADER*/    
                                    /*SEARCH*/
                                    /*HEBERGEMENTS*/
.Hebergements
{
    flex-direction: column;
}
.Marseille
{
    width: 100%;
    margin-bottom: 2%;
}
.Populaire
{
    width: 100%;
    margin: 0%;
    flex-wrap: wrap;
}
.populous
{
    align-self: flex-start;
    margin-left: 5%;
    margin-right: 5%;
    height: 190px;
}
.imgPop
{
    height: 100%;
    max-width: 45%;
}
.popRight
{
    align-self: flex-end;
}
                                    /*ACTIVITE*/
.Activites
{
    margin-bottom: 0%;
}
.activity
{
  height: fit-content;
}
.activity article
{
    height: 300px;
}
.col
{

    width: 500px;
    margin:auto;
    height: 50%;
    margin-bottom: 5%;
}
.col-mini
{
    width: 100%;
    margin: auto;
}
.mini
{
    width: 500px;
    max-height: 50%;
    margin:auto;
    margin-bottom: 5%;
}
.small
{
    margin-bottom: 5%;
}
.imgs
{
    height: 70%;
}
.scale1_4
{
    transform: scale(1);
    object-position: center 15%;
}
.position47
{
    object-position: center 38%;
}
.position10
{
    object-position: center 0%;
}
.position25
{
    object-position: center 15%;
}
.position24
{
    object-position: center 10%;
}
                                    /*FOOTER*/

footer div section
{
    margin-right: 10%;
}

                                }

@media (max-width: 768px) /*320px min*/ 
/*Si necessaire refaire un breakpoint a 576px*/
{
                                    /*GENERAL*/
    body
    {
        font-size: 15px;
    }
                                    /*HEADER*/ 
    header
    {
        justify-content: center;
        flex-direction: column;
        align-self: center;
        width: 100%;
    }
    .logo
    {
        align-self: center;
    }
    .logo a
    {
        width: 40%;
        margin-right: 0;
        align-self: center;
        width: 100%;
    }
    .logo a img
    {
        margin-left:25%
    }
    .navigation
    {
        margin-left: 5%;
        width: 100%;
        justify-content: center;
        display: flex;
    }
    .navigation a 
    {
        border-bottom: 1px solid #F2F2F2;
        width: 100%;
        text-align: center;
        margin:auto;
    }
    .navigation a:focus{
        border-top:none;

        border-bottom: 1px solid #0065FC;
        
        color: #0065FC;
    }
                                    /*SEARCH*/
    .Research
    {
        height: 55px;
    }
    .map_marker
    {

        width: 55px;
    }
    .inputText
    {
        width: 100%;
        font-size: 17px;
    }
    .button
    {
    display: none;   
    }
    .loupe
    {
        display:flex;
        border:none;
        justify-content: center;
        align-items: center;
        width: 55px;
    }
    .Filtre
    {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .titreFiltres
    {
        align-self: flex-start;
    }
    .listFiltre
    {
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
    }
    .Filter
    {
        width: 400px;
        margin: auto;
        margin-bottom: 2%;
    }
    .iconeFilter
    {
        width: 40px;
        height: 40px;
    }

                                    /*HEBERGEMENTS*/
    .Hebergements
    {
        flex-direction: column-reverse;
    }
    .Marseille
    {
        background-color: white;
    }
    .hebergements
    {
        width: 100%;
        height: 370px;
        margin-bottom: 5%;
    }
    .titre svg
    {
        min-height: 20px;
        min-width: 20px;
    }
    .populous
    {
        align-self: center;
        height: 150px;
        margin-left: 0px;
        margin-right: 0px;
        width: 95%;
    }
    .contenue
    {
        flex-direction: column;
        justify-content: flex-end;
    }
    .pop p
    {
        margin:0;
    }
    .ratingPop
    {
        margin-top:  30px;
    }

                                    /*ACTIVITE*/
    .activity
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .activity article img
    {
        height: 100%;
        width: 100%;
    }
    .imgsActivity
    {
        width: 100%;
    }
    .col
    {
        width: 100%;
        margin-bottom: 5%;
        height: 250px;
    }
    .col-mini
    {
        width: 100%
        
    }
    .activity div
    {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    .mini
    {
        width: 100%;
        align-self: center;
        height: 250px
    }
    .fort
    {
        object-position: center 43%;
    }
    .castle
    {
        object-position: center 35%;
    }
    .small img
    {
        object-position: 5% 24%;
    }
    .scale1_4
    {
    object-position: center 27%;
    }
    
                                    /*FOOTER*/
    footer div
    {
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}
@media (max-width: 576px)
{
                                    /*GENERAL*/
    body
    {
        font-size: 12px;
    }
    
                                    /*HEADER*/ 
                                    /*SEARCH*/
                                    /*HEBERGEMENTS*/
    .hebergements
    {
        height: 220px;
    }
    .contenue h3
    {
        margin-top: 5px;
    }
    .contenue p
    {
        margin-bottom: 0;
    }
    .populous
    {
        height: 150px;
        width: 90%;
    }
    .imgPop
    {
        
        width: 100%;
    }
                                    /*ACTIVITE*/
    .col
    {
        max-height: 220px;
    }
    .mini
    {
        max-height: 220px;
        margin-bottom: 5%;
    }
                                    /*FOOTER*/  
}