@media all
{
                                    /*GENERAL*/
    body{
        color:black;

        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: column;
        margin:auto;
    }
    a{
        text-decoration: none;
        color: black;
    }
    a:visited{
        text-decoration: none;
        color:black;
    }
    li{
        list-style: none;
        margin:0px 0px 10px 0px
    }
                                    /*HEADER*/
    header{
        display:flex;
        align-items: center;
    }
    
    header a:nth-child(1){
      margin-left: 5%;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: auto;
      width: 15%;
    }    
    #logo{
        width: 35%;
        height: 85%;
        align-self: center;
    }
    
    .navigation{
        margin-right: 25px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
        padding-top: 2%;
        padding-bottom: 2%;
        align-self: center;
    }
    .navigation:focus{
        border-top: 2px solid #0065FC;
        color: #0065FC;
    }
                                    /*SEARCH*/

#Search
{
    display: flex;
    flex-direction: column;
}
#Filtre
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#info
{
    display: flex;
    align-items: center;
}


                                    /*HEBERGEMENTS*/
    #Hebergements{
        /*La somme des id Masseille et Populaire*/
        display: flex;
        justify-content:space-evenly;
       
    }
    #Marseille {
        background-color: #F2F2F2;
        border-radius: 20px;
        width: 50%;
        display: flex; 
        flex-direction: column;
    }
    #ensemble{
        
        border-radius: 20px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: auto;
       
    }
   .hebergements
    {
        background-color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        width: 20%;
        margin: 5% 5% 1% 1%;
       
    }
    .hebergements img {
        width: 95%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    #Populaire{
        background-color: #F2F2F2;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #titre{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .populous{
        display: flex;
        border-radius: 20px;
        background-color: white;
        margin: 5% 5% 1% 1%;
    }
    .populous img{
        width:33%;
        border-top-left-radius:20px;
        border-bottom-left-radius: 20px;
    }
    .rating{
        display: flex;
        flex-wrap: wrap;
    }
                                    /*ACTIVITE*/
#Activites
{
    display: flex;
    flex-direction: column;
}
#activity
{
    display: flex;
    flex-wrap: wrap;
}
#activity div img
{
    border-top-left-radius : 20px;
    border-top-right-radius: 20px;
}
                                    /*FOOTER*/
    footer{
        display: flex;
        align-items: center;
        background-color: #F2F2F2;
        height: 15%;
    }
    footer div {
        margin:1% 10% 1% 1%;
    }
}

@media (max-width: 992px)
{
                                    /*GENERAL*/
                                    /*HEADER*/    
                                    /*SEARCH*/
                                    /*HEBERGEMENTS*/
                                    /*ACTIVITE*/
                                    /*FOOTER*/
}

@media (max-width: 768px)
{
                                    /*GENERAL*/
                                    /*HEADER*/  
                                    /*SEARCH*/
                                    /*HEBERGEMENTS*/
                                    /*ACTIVITE*/
                                    /*FOOTER*/
}
