<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Projet 2 - Herve Boutonnet</title>

    <link rel="stylesheet" href="../static/css/style.css"/>
</head>
<body>
<header>
    <a href="#"><img src="/static/images/logo/Booki.png" alt="booky"></a>
    <a href="#">Hebergements</a>
    <a href="#">Activites</a>
</header>
<div class="Search">

</div>
<div class="Hebergements">

</div>
<div class="Activites">

</div>
<footer>
    <div>
        <h3></h3>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
    <div>
        <h3></h3>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
    <div>
        <h3></h3>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
</footer>
</body>
</html>